.mainContainer{
margin: auto;
width: 50%;
text-align: center;
}

.finalBudget{
display: block;
margin-top: 50px;
margin-bottom: 30px;
} 

.recordOfItems {
  display: inline-flex;
  margin-top: 40px;
}